@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="~/res/styles/bootstrap.min.css" rel="stylesheet">
    <link href="~/res/styles/font-awesome.min.css" rel="stylesheet">
    <link href="~/res/styles/account.css" rel="stylesheet" type="text/css">
    <link href="~/res/styles/header.css" rel="stylesheet" type="text/css">

    @Html.Sitecore().VisitorIdentification()

</head>
<body>
    <header>
        @Html.Sitecore().Placeholder("header")
    </header>
    <div>
        @Html.Sitecore().Placeholder("content")
        <h1>@Html.Sitecore().Field("Title")</h1>
        <br />
        <p>@Html.Sitecore().Field("Text")</p>
    </div>
</body>
</html>