@model Hackathon.Accounts.Models.LoginModel

<div class="text-center" style="padding: 50px 0">
    <div class="logo">login</div>
    <div class="login-form-1">
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = "/"}, FormMethod.Post, new {@id = "login-form", @class = "text-left", role = "form"}))
        {
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 sr-only" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "email" } })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 sr-only" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "password" } })
                    </div>
                </div>
                <div class="col-md-offset-4 col-md-10" style="margin-top:10px">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </div>
            <div class="etc-login-form">
                <p>
                    @Html.ActionLink("new user? create new account", "Registration", "Account");
                </p>
            </div>
        }
    </div>
</div>